fastapi
alembic
pyjwt
bcrypt
numpy
pandas
sqlalchemy
uvicorn
urllib3
pathlib
databases==0.4.1
chardet>=3.0.4
psycopg2>=2.8.5
python-multipart
requests
unidecode>=1.1.2
aiofiles
jinja2
itsdangerous
pyyaml
graphene
ujson
email_validator
orjson
